html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	color: var(--dark);
}

img {
	max-width: 100%;
	object-fit: cover;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

[class$="__wrap"] {
	position: relative;
	box-sizing: border-box;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;

	@media (min-width: @min-lg) {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.underline {
	text-decoration: underline;
}

.bright {
	color: var(--bright);
}

.bright-apple {
	fill: var(--bright);
}

.number-seats {
	margin: 0;
	padding-bottom: 18px;
	font-size: 11px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.8px;

	@media (min-width: @min-sm) {
		font-size: 12px;
	}

	& span {
		display: inline-block;
		box-sizing: border-box;
		width: 38px;
		height: 39px;
		padding-top: 6px;
		font-weight: 700;
		font-size: 16px;
		color: var(--bright);
		background: var(--dark);
		background-image: url(../../img/number-seats.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.overflow {
	overflow: hidden;
}
