<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">

	<link rel="stylesheet" href="styles/main.css">
</head>

<body>

	<main>
		<!-- overflow -->
		<div class="overflow">
			<!-- hero -->

			<section class="hero">
				<!-- hero__wrap -->
				<div class="hero__wrap">
					<!-- left-lg -->
					<div class="left-lg">
						<h1 class="left-lg__title">
							<b>18 сентября в 19:00</b> бесплатный мастер-класс от <span class="bright">
								<svg width="17" height="16" class="bright-apple" aria-hidden="true" focusable="false">
									<use xlink:href="#small-logo"></use>
								</svg> Алины Петровой
							</span>
						</h1>

						<picture>
							<source media="(min-width: 610px)" srcset="img/hero/hero-text@desktop.webp" type="image/webp">
							<source media="(min-width: 610px)" srcset="img/hero/hero-text@desktop.png">
							<source srcset="img/hero/hero-text.webp" type="image/webp">
							<img src="img/hero/hero-text.png" alt="надпись 'Красивые ягодицы'" class="left-lg__img">
						</picture>

						<p class="left-lg__subtitle">
							Уникальная методика не имеющая аналогов в фитнес-индустрии
							<span class="animation-arrow-up"></span>
							<span class="animation-arrow-up animation-arrow-up"></span>
						</p>

						<div class="button-wrap">
							<a href="#form" class="button">
								<span>Принять участие <span class="button__small">и получить подарок</span></span>
								<svg width="164" height="159" class="button__apple" aria-hidden="true" focusable="false">
									<use xlink:href="#small-logo"></use>
								</svg>
							</a>

							<p class="number-seats">Осталось мест <span>4</span></p>
						</div>


						<p class="hero__text">Подарок всем участникам мастер-класса — <span class="bright">план питания на неделю</span> с простыми интересными рецептами блюд!</p>

					</div>
					<!-- ./left-lg -->
				</div>
				<!-- ./hero__wrap -->
				<div class="hero-training__downstairs">
					{% include 'img/hero/bg-shape.svg' %}
				</div>
			</section>
			<!-- ./hero -->

			<!-- about-training -->

			<section class="about-training">
				<!-- about-training__wrap -->
				<div class="about-training__wrap">
					<h2 class="about-training__heading"><span class="bright">Что вы узнаете</span> на мастер-классе</h2>

					<ul class="about-training__list">
						<li class="about-training__item about-training__item--heart">Почему не получается добиться нужного результата даже при регулярных тренировках</li>
						<li class="about-training__item about-training__item--apple">Обязательно ли придерживаться стогих диет, чтобы достичь успеха</li>
						<li class="about-training__item about-training__item--graph">Какие тренировки помогают достичь максимального успеха</li>
						<li class="about-training__item about-training__item--diamond">Чем уникальна новая методика упражнений для прокачки ягодиц</li>
						<li class="about-training__item about-training__item--buttocks">Сколько требуется времени, чтобы создать идеальные формы</li>
						<li class="about-training__item about-training__item--message">Секреты и рекомендации тренера из первых уст</li>
					</ul>
				</div>
				<!-- ./about-training__wrap -->
				<div class="about-training__downstairs">
					{% include 'img/bg-shape.svg' %}
				</div>
			</section>
			<!-- ./about-training -->

			<!-- about -->

			<section class="about">
				<!-- about__wrap -->
				<div class="about__wrap">
					<h2 class="about__heading">Выпады и приседы — <span>прошлый век!</span></h2>
					<p class="about__subheading">Алина Петрова, сертифицированный тренер-скульптор, специализируется на создании идеальных форм.</p>

					<!-- about__list -->
					<div class="about__list">
						<picture>
							<source media="(min-width: 990px)" srcset="img/about/certificates@desktop.webp" type="image/webp">
							<source media="(min-width: 990px)" srcset="img/about/certificates@desktop.png">
							<source srcset="img/about/certificates.webp" type="image/webp">
							<img src="./img/about/certificates.png" alt="Несколько сертификатов Алины Петровой" width="998" height="159" loading="lazy">
						</picture>
					</div>
					<!-- ./about__list -->

					<!-- about__text -->
					<div class="about__text">
						<p>За свой 10-летний тренерский стаж я поработала в разных фитнес-направлениях, но в последнее время получаю всё больше запросов от своих клиенток на создание красивых упругих ягодиц. И это неудивительно, ведь это так женственно и сексуально!</p>
						<p>Поначалу на своих тренировках я использовала классические упражнения на прокачку ягодичных мышц, но стала замечать, что девчонки не очень довольны результатом.</p>
						<p>Занимаются много, а эффект минимален. Тогда я решила разработать уникальную методику упражнений, которая будет направлена на скульптурирование и подтяжку ягодиц.</p>
						<p>Больше года путем проб и ошибок я создавала идеальную систему тренировок, которая превзошла все мои ожидания. О ней я и расскажу на своем бесплатном мастер-классе, на который приглашаю всех девушек, мечтающих об идеальных формах.</p>
					</div>
					<!-- ./about__text -->

					<div class="button-wrap">
						<a href="#form" class="about__button button">
							<span>Зарегистрироваться <span class="button__small">и получить подарок</span></span>
							<svg width="164" height="159" class="button__apple" aria-hidden="true" focusable="false">
								<use xlink:href="#small-logo"></use>
							</svg>
						</a>

						<p class="number-seats">Осталось мест <span>4</span></p>
					</div>
				</div>

				<div class="about__downstairs">
					{% include 'img/bg-shape.svg' %}
				</div>
				<!-- ./about__wrap -->
			</section>
			<!-- ./about -->

			<!-- shapes -->

			<section class="shapes">
				<!-- shapes__wrap -->
				<div class="shapes__wrap">
					<h2 class="shapes__heading"><span class="bright">Груша или&nbsp;яблоко:</span> <span class="shapes__heading-small">расскажем, как добиться результата для каждого типа фигуры</span></h2>

					<p class="shapes__subtitle">Несмотря на то, что для каждого анатомического сложения нужен свой подход в упражнениях, на мастер-классе «Красивые ягодицы» вы узнаете, как создать идеальные формы при любых особенностях фигуры.</p>

					<!-- shapes__block-wrap -->
					<div class="shapes__block-wrap">
						<!-- shapes__block -->
						<div class="shapes__block">
							<picture>
								<source media="(min-width: 990px)" srcset="img/shapes/apple@desktop.webp" type="image/webp">
								<source media="(min-width: 990px)" srcset="img/shapes/apple@desktop.png">
								<source srcset="img/shapes/apple.webp" type="image/webp">
								<img src="img/shapes/apple.png" alt="Эскиз женской фигуры в форме яблока" loading="lazy">
							</picture>

							<picture>
								<source media="(min-width: 990px)" srcset="img/shapes/rectangle@desktop.webp" type="image/webp">
								<source media="(min-width: 990px)" srcset="img/shapes/rectangle@desktop.png">
								<source srcset="img/shapes/rectangle.webp" type="image/webp">
								<img src="img/shapes/rectangle.png" alt="Эскиз женской фигуры в форме прямоугольника" loading="lazy">
							</picture>

							<h3 class="shapes__block-title">Яблоко или прямоугольник</h3>

							<p>Данные типы фигуры характеризуются плоскими ягодицами и довольно узким тазом.</p>

							<h4>Запрос</h4>

							<ul class="shapes__request-list">
								<li class="shapes__request-item">Увеличить объём ягодиц и придать им округлую форму.</li>
							</ul>

							<h4>Результаты</h4>

							<ul class="shapes__results-list">
								<li class="shapes__results-item">Ягодицы увеличиваются в размере на 5–8 см в зависимости от интенсивности тренировок.</li>
								<li class="shapes__results-item">Появляется округлая подтянутая форма.</li>
								<li class="shapes__results-item">Исчезает целлюлит и дряблость на коже.</li>
							</ul>
						</div>
						<!-- ./shapes__block -->

						<!-- shapes__block -->
						<div class="shapes__block">
							<picture>
								<source media="(min-width: 990px)" srcset="img/shapes/pear@desktop.webp" type="image/webp">
								<source media="(min-width: 990px)" srcset="img/shapes/pear@desktop.png">
								<source srcset="img/shapes/pear.webp" type="image/webp">
								<img src="img/shapes/pear.png" alt="Эскиз женской фигуры в форме груша" loading="lazy">
							</picture>
							<picture>
								<source media="(min-width: 990px)" srcset="img/shapes/watch@desktop.webp" type="image/webp">
								<source media="(min-width: 990px)" srcset="img/shapes/watch@desktop.png">
								<source srcset="img/shapes/watch.webp" type="image/webp">
								<img src="img/shapes/watch.png" alt="Эскиз женской фигуры в форме песочных часов" loading="lazy">
							</picture>

							<h3 class="shapes__block-title">Груша или песочные часы</h3>

							<p>«Тяжёлый» низ, больший объём ягодиц, скопление жировых отложений на них.</p>

							<h4>Запрос</h4>

							<ul class="shapes__request-list">
								<li class="shapes__request-item">Уменьшить объём ягодиц, придать им округлость и подтянутый вид.</li>
							</ul>

							<h4>Результаты</h4>

							<ul class="shapes__results-list">
								<li class="shapes__results-item">Ягодицы уменьшаются в объёме на 7–10 см в зависимости от первоначальных данных.</li>
								<li class="shapes__results-item">Появляется естественная округлая форма с эффектом «стоячих» ягодиц.</li>
								<li class="shapes__results-item">Исчезает целлюлит и дряблость на коже.</li>
							</ul>
						</div>
						<!-- ./shapes__block -->
					</div>
					<!-- shapes__block-wrap -->
				</div>
				<!-- ./shapes__wrap -->

				<div class="shapes__downstairs">
					{% include 'img/bg-shape.svg' %}
				</div>
			</section>
			<!-- ./shapes -->

			<!-- program -->

			<section class="program">
				<!-- program__wrap -->
				<div class="program__wrap">

					<h2 class="program__heading">От новичка <span class="bright">до профи</span></h2>
					<p class="program__subheading">На мастер-классе мы приоткроем завесу тайны и расскажем, из каких упражнений состоит авторская система тренировок Алины Петровой и на кого она рассчитана.</p>

					<!-- program__list -->
					<ul class="program__list">
						<!-- program__item -->
						<li class="program__item">
							<h3 class="program__title">Новичок</h3>

							<p>Курс рассчитан на тех, кто никогда не занимался спортом или последний раз тренировался очень давно. В этом случае мышцы необходимо подготовить к интенсивным упражнениям и постепенно увеличивать нагрузку.</p>

							<!-- program__details -->
							<details open class="program__details details">
								<summary class="program__summary details__summary">Что включает в себя курс</summary>
								<div class="details__content">
									<ul class="program__list-details">
										<li class="program__item-details">12 авторских тренировок</li>
										<li class="program__item-details">Демонстрация техники упражнений</li>
										<li class="program__item-details">Музыкальное сопровождение</li>
										<li class="program__item-details">Доступ к тренировкам в течение двух месяцев</li>
									</ul>
								</div>
							</details>
							<!-- ./program__details -->

							<!-- program__details -->
							<details open class="program__details details">
								<summary class="program__summary details__summary">Какой результат вы получите</summary>
								<div class="details__content">
									<ul class="program__list-details">
										<li class="program__item-details">Проработку ягодичных мышц, избавление от зажимов</li>
										<li class="program__item-details">Хорошую растяжимость мышц и связок таза</li>
										<li class="program__item-details">Улучшение рельефа кожи на ягодицах</li>
										<li class="program__item-details">Округление и подтяжку ягодиц</li>
									</ul>
								</div>
							</details>
							<!-- ./program__details -->
						</li>
						<!-- ./program__item -->

						<!-- program__item -->
						<li class="program__item">
							<h3 class="program__title">Любитель</h3>

							<p>Курс рассчитан на тех, кто периодически занимается спортом или просто ведёт активный образ жизни. Мышцы не требуют особой подготовки, поэтому упражнения более интенсивные, направленные на прокачку ягодиц.</p>

							<!-- program__details -->
							<details class="program__details details">
								<summary class="program__summary details__summary">Что включает в себя курс</summary>
								<div class="details__content">
									<ul class="program__list-details">
										<li class="program__item-details">12 авторских тренировок</li>
										<li class="program__item-details">Демонстрация техники упражнений</li>
										<li class="program__item-details">Музыкальное сопровождение</li>
										<li class="program__item-details">Доступ к тренировкам в течение двух месяцев</li>
									</ul>
								</div>
							</details>
							<!-- ./program__details -->

							<!-- program__details -->
							<details open class="program__details details">
								<summary class="program__summary details__summary">Какой результат вы получите</summary>
								<div class="details__content">
									<ul class="program__list-details">
										<li class="program__item-details">Хорошую растяжимость мышц и связок таза</li>
										<li class="program__item-details">Избавление от целлюлита и дряблости на коже</li>
										<li class="program__item-details">Подтяжку и округлость ягодиц</li>
										<li class="program__item-details">Эффект пуш-апа</li>
									</ul>
								</div>
							</details>
							<!-- ./program__details -->
						</li>
						<!-- ./program__item -->

						<!-- program__item -->
						<li class="program__item">
							<h3 class="program__title">Профи</h3>

							<p>Курс рассчитан на тех, кто постоянно занимается спортом, держит тело в тонусе и, возможно, уже имеет мышечный рельеф, но хочет поработать именно над улучшением формы ягодиц, создать идеальную фигуру.</p>

							<!-- program__details -->
							<details class="program__details details">
								<summary class="program__summary details__summary">Что включает в себя курс</summary>
								<div class="details__content">
									<ul class="program__list-details">
										<li class="program__item-details">12 авторских тренировок</li>
										<li class="program__item-details">Демонстрация техники упражнений</li>
										<li class="program__item-details">Музыкальное сопровождение</li>
										<li class="program__item-details">Доступ к тренировкам в течение двух месяцев</li>
									</ul>
								</div>
							</details>
							<!-- ./program__details -->

							<!-- program__details -->
							<details class="program__details details">
								<summary class="program__summary details__summary">Какой результат вы получите</summary>
								<div class="details__content">
									<ul class="program__list-details">
										<li class="program__item-details">Прорисовку мышечного рельефа ягодиц</li>
										<li class="program__item-details">Увеличение именно мышечной массы ягодиц</li>
										<li class="program__item-details">Эффект пуш-апа</li>
										<li class="program__item-details">Идеальное качество кожи</li>
									</ul>
								</div>
							</details>
							<!-- ./program__details -->
						</li>
						<!-- ./program__item -->

					</ul>
					<!-- ./program__list -->

					<p class="program__bottom">Хочешь такие результаты? Скорее <a href="#form" class="bright underline">присоединяйся к нам</a> и у тебя все получится!</p>
				</div>
				<!-- ./program__wrap -->
			</section>
			<!-- ./program -->

			<!-- form -->

			<section class="form" id="form">
				<!-- form__wrap -->
				<div class="form__wrap">

					<div class="left-lg">
						<h1 class="left-lg__title">
							<b>18 сентября в 19:00</b> бесплатный мастер-класс от <span class="bright">
								<svg width="17" height="16" class="bright-apple" aria-hidden="true" focusable="false">
									<use xlink:href="#small-logo"></use>
								</svg> Алины Петровой
							</span>
						</h1>

						<picture>
							<source media="(min-width: 610px)" srcset="img/hero/hero-text@desktop.webp" type="image/webp">
							<source media="(min-width: 610px)" srcset="img/hero/hero-text@desktop.png">
							<source srcset="img/hero/hero-text.webp" type="image/webp">
							<img src="img/hero/hero-text.png" alt="надпись 'Красивые ягодицы'" class="left-lg__img" loading="lazy">
						</picture>

						<p class="left-lg__subtitle">
							Уникальная методика не имеющая аналогов в фитнес-индустрии
							<span class="animation-arrow-up"></span>
							<span class="animation-arrow-up animation-arrow-up"></span>
						</p>

						<form action="#" class="form__form">
							<p class="form__notes">Заполни форму и получи подарок — <span class="bright">план питания на неделю</span> с простыми интересными рецептами блюд!</p>

							<div class="form__control">
								<input type="text" id="name" class="form__input" value="Валентина Сидоровна" placeholder="&nbsp;">
								<label class="form__label" for="name">Твое имя</label>
							</div>

							<div class="form__control">
								<input type="tel" id="phone" class="form__input" placeholder="&nbsp;">
								<label class="form__label" for="phone">Телефон</label>
							</div>

							<div class="form__control">
								<input type="email" id="email" class="form__input" value="79093773553@ya.kz" placeholder="&nbsp;">
								<label class="form__label" for="email">Электронная почта</label>
							</div>

							<div class="button-wrap">
								<button type="submit" class="button">
									<span>Зарегистрироваться <span class="button__small">и получить подарок</span></span>
									<svg width="164" height="159" class="button__apple" aria-hidden="true" focusable="false">
										<use xlink:href="#small-logo"></use>
									</svg>
								</button>

								<p class="number-seats">Осталось мест <span>4</span></p>
							</div>
						</form>


					</div>

				</div>
				<!-- ./form__wrap -->
			</section>
			<!-- ./form -->
		</div>
		<!-- ./overflow -->
	</main>
	<script>
		function asyncCss(files) {
			files.forEach(file => {
				let link = document.createElement('link');
				link.href = file;
				link.rel = 'stylesheet';
				document.head.append(link);
			});
		}

		asyncCss(['styles/fonts.css', 'styles/keyframes.css']);
	</script>
	<script src="scripts/main.js"></script>

	<div style="display: none;">
		{% include 'img/sprite.svg' %}
	</div>
</body>

</html>
