.about {
	padding-top: 60px;
	background-color: #f7c027;

	@media (min-width: 700px) {
		padding-top: 80px;
	}

	@media (min-width: 990px) {
		padding-top: 174px;
	}
}

.about__wrap {
	& p:not(.about__subheading):not(.number-seats) {
		margin-top: 0;
		font-size: 13px;
		line-height: 18px;

		@media (min-width: @min-md) {
			position: relative;
			z-index: 1;
			max-width: calc(50% - 25px);
			font-size: 16px;
			line-height: 24px;
		}
	}
}

.about__heading {
	margin-bottom: 18px;
	color: var(--white);
	text-shadow: 0 3px 0 #f7d91d;

	& span {
		color: var(--dark);
	}
}

.about__subheading {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;

	@media (min-width: @min-md) {
		margin-bottom: 350px;
	}

	&::after {
		content: url(../../../img/about/alina.png);
		position: relative;
		z-index: 1;
		display: block;
		width: fit-content;
		margin: 0 auto 0;
		margin-top: 66px;
		transform: translateX(-10px);

		@media (min-width: @min-md) {
			position: absolute;
			left: 50%;
		}

		@media (min-width: @min-lg) {
			content: url(../../../img/about/alina@desktop.png);
		}
	}
}

.about__button {
	background-color: var(--bright-light);

	& .button__apple {
		fill: var(--bright);
	}

	&:hover {
		background-color: var(--bright);

		& .button__apple {
			fill: var(--bright-light);
		}
	}
}

.about__list {
	position: absolute;
	top: 125px;
	left: 0;
	width: 998px;

	@media (min-width: @min-lg) {
		top: 270px;
	}
}

.about__downstairs {
	fill: #f7c027;
}
